<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}
        武汉东湖学院
        {% endblock %}
    </title>

    <style>
    .nav ul li{
        float: left;
        padding: 5px 10px;
        margin: 0 10px;
        font-weight: bold;
        font-size: larger;
    }
</style>
</head>
<body>
    <nav class="nav">
    <ul>
        <li>首页</li>
        <li>学习生活</li>
        <li>失物招领</li>
        <li>投稿</li>
        <li>{{ about }}</li>
    </ul>
</nav>
{% block header %}
    <p>计算机科学学院</p>
{% endblock %}
</body>
</html>